<!DOCTYPE html>
<html>
    <head>
        <title>Pure Frontend</title>
        <link rel="stylesheet" type="text/css" href="css/sidenav.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <link rel="stylesheet" type="text/css" href="css/barnav.css">
    </head>
    <body>

      <div class="navbar">
        <button class="toggle-button"><strong>&#9776;</strong></button>
        <p class="logo">SITE LOGO</p>
        <div class="menu-bar">
            &nbsp;  &nbsp; 
            <a href="#home">Home</a> &nbsp; 
            <a href="#about">About</a> &nbsp; 
            <a href="#contact">Contact</a> &nbsp; 
        </div>
        <div class="middle-space"></div>
        <div class="dropdown">	
            <button class="btn-right"> &#128100 </button>
            <div class="dropdown-content">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li> <a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
        
    </div>
    <div class="sidenav">
      <div class="navbar-padding"></div>
      <ul>
        <li><a href="#home">Home</a></li>
        <li> <a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>
    </div>     
  <div class="navbar-padding"></div>
  <div class="content">
    <br/>
    <div class="main-content">
      
      <div id="app"></div>
      <script src="main.js"></script>

    </div>
  </div>
  </body>
</html>