<!DOCTYPE html>
<html>
    <head>
        <title>My web application</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>  
        <h1>Welcome to my website</h1>
        <aside>
            <a href="about.html">About</a>
        </aside>
        <main>
            [x] Read all data - GET /api/employees <br/>
            [x] Get one employee - GET /api/employees/:id <br/>
            [x] Create new employee - POST /api/employees <br/>
            [x] Delete employee - DELETE /api/employees/:id  <br/>
            [x] Update employee - PUT /api/employees/:id  <br/>
        </main>
    </body>
</html>